<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex h-screen w-full">
      <div
        class="border border-gray-300 max-w-sm rounded-lg shadow-lg m-auto p-8"
      >
        <a href="/google_auth/login" class="border border-gray-300 p-2 rounded-lg shadow-lg font-semibold hover:bg-blue-600 hover:text-white hover:cursor-pointer">Sign in</div>
      </div>
    </div>
  </body>
</html>
